body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh; /* Garante que o corpo ocupe toda a altura da janela */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px; /* Largura fixa para o contêiner */
}

h1 {
  color: #6a0dad; /* Roxo */
  margin-bottom: 20px; /* Espaçamento inferior */
}

.login-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Largura do formulário ocupa 100% do contêiner */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #6a0dad; /* Roxo */
}

input {
  width: 100%; /* Garante que o input ocupe 100% da largura do formulário */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Inclui padding e borda na largura total */
}

button {
  width: 100%; /* Garante que o botão ocupe 100% da largura do formulário */
  padding: 10px;
  background-color: #6a0dad; /* Roxo */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #5a0c9d; /* Roxo mais escuro */
}